.container {
	box-sizing: border-box;
	position: relative;
}

.controls {
	background: var(--color-secondary);
	border-bottom: 1px solid var(--color-border);
	padding: var(--sp-small);
	position: sticky;
	top: 0;
	z-index: 1;
}

.timeline {
	padding: var(--sp-base);
}

.timeline > * {
	margin-bottom: var(--sp-base);
}
