.editableText[data-mode='multiline'] {
	margin: var(--sp-base);
	min-height: 5em;
}

.editableText:hover:not([data-editing]) {
	box-shadow: 0 0 0 2px var(--color-primary-light);
}

.editableText > textarea {
	resize: none;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}

.editableText > input {
	width: 100%;
}

.previewText {
	display: inline-block;
	white-space: pre;
	font-size: var(--fs-input);
	cursor: text;
}

.editableText > .previewText {
	margin: calc(var(--sp-small) + 1px);
}

.editableText[data-mode='multiline'] > .previewText {
	white-space: pre-wrap;
}

.editableText > input {
	display: inline;
}

/* Date  */
.editableText[data-invalid-date] {
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-style: dashed;
}

.editableText[data-mode='date'] {
	margin-right: 20px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
}

.editableText[data-invalid-date]:after {
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	content: '!';
	background: var(--color-error);
	color: white;
	width: 15px;
	height: 15px;
	border-radius: var(--radius-default);
}
