.cardContainer {
	width: 100%;
	margin: auto;
}

.cards {
	min-width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cards > * {
	margin: var(--sp-base);
}

.previewCard {
	width: 100%;
	display: flex;
	justify-content: center;
}
